body {
  background-image: url("img/logo1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.container{
    width: 800px;
    margin: auto;
    background-color: #fff;
}

.header{
    padding: 20px;
    padding-bottom: 10px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

.header ul li{
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}

.header a{
    text-decoration: none;
    color: rgb(82, 82, 184);
    padding: 3px;
}

.header a:hover{
    background-color: yellow;
    color: red;
}


.hero{
    height: 300px;
    background-image: url(img/bbc.jpg);
    background-size: cover;
    border-bottom: 5px solid blue;
    border-top: 5px solid red; 
}

.content{
    padding: 20px;
}

.content h2{
    font-size: 28px;
    font-weight: bold;
}


.content .penulis{
    font-size: 11px;
    margin-top: -10px;
}
.content .penulis a{
    color: salmon;
    text-decoration: none;
}

.content p {
    margin-bottom: 20px;
    font-size: 14px;
}

.footer{
    background-color: black;
    padding: 10px;
}

.footer .copy{
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}

.p1{
    font-weight: bold;
}
