            h1 {
               
                color: rgb(8, 7, 7);
                font-size: 50px;
                font-family: "New Rocker", system-ui;
                text-decoration: line-through;
            }

            h2 {
                color: blueviolet;
                font-size: 50px;
                font-family: "New Rocker", system-ui;


                
             }

             body {
                background-image: url(2.png);
            
             }
    
             
